/*fuente txt*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Gravitas+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body, navbar y main general*/
body {
    background-image: url(../img/banner.jpg);
}

header{
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
}

.icono {
    width: 100px;
    height: 100px;
}

ul a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*======INDEX======*/
/*texto principal index*/

.descripcion {
    font-family: "Nunito", sans-serif;
    max-width: 50vw;
    margin-left: 25vw;
    text-align: center;
    font-size: 25px;
    color: brown;
    text-shadow: 2px 2px 4px blanchedalmond;
}

/*sección titulo y párrafo general*/
#inicio {
    text-align: center;
    font-size: 20px;
}

#inicio .button {
    padding: 25px 75px;
    font-size: 20px;
    margin-top: 5vh;
    text-decoration: none;
}

.button-container {
    margin-top: 15vh;
}

/*imágenes index*/

/* contenedor principal */
.box-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px;
    margin-top: 30vh;
}


/*título index*/
.presentacion {
    font-family: "Changa One", sans-serif;
    text-align: center;
    color: brown;
    margin-bottom: 25vh;
    font-size: 15vh;
    position: relative;
    top: 15vh;
    text-shadow: 2px 2px 4px blanchedalmond;
}

/*subtitulos generales*/
.sub {
    font-family: "Changa One", sans-serif;
    color: brown;
    margin-bottom: 10vh;
    margin-top: 15vh;
    text-shadow: 2px 2px 4px blanchedalmond;
}

/*sección beneficios index*/

.sub-beneficios {
    font-family: "Changa One", sans-serif;
    color: brown;
    text-shadow: 2px 2px 4px blanchedalmond;
    font-size: 7vh;
}


#beneficios {
    text-align: center;
    margin: 80px 20px;
}

.container-box {
    display: flex;
    justify-content: center;
}

.lista {
    list-style: none;
    padding: 0;
    max-width: 700px;
}

.lista li {
    background: #fff7ef;
    margin: 15px 0;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.lista li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin: 100px;
    padding: 45px;
    border: 2px solid brown;
    border-radius: 50px;
    font-size: 18px;

}

/*párrafos generales*/
.parrafo {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    color: black;
    text-shadow: 2px 2px 4px blanchedalmond;
}


/*======QUIENES SOMOS======*/
/*img voluntarios*/
.voluntarios {
    width: 650px;
    height: 400px;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

/* contenedor de las cards */
.voluntarios-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20vh;
    flex-wrap: wrap;
}

/* tamaño de la card (comparten estilos con img del index)*/
.flip-card{
    width: 100%;
    max-width: 650px;
    height: 400px;
}

/* animación */
.flip-card-inner{
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

/* caras */
.flip-card-front,
.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    backface-visibility: hidden;
}

/* imagen */
.flip-card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* parte trasera */
.flip-card-back{
    background-color: blanchedalmond;
    color: brown;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    transform: rotateY(180deg);
}

.flip-card-back h3{
    margin-bottom: 10px;
}

/*sección de donación pág quienes somos */

#donacion {
    margin: 65px;
    font-size: 20px;
}

#donacion .parrafo {
    margin-bottom: 15vh;
}

#donacion .button {
    padding: 25px 75px;
    font-size: 20px;
    margin-top: 5vh;
    text-decoration: none;
}

.button-container {
    margin-top: 15vh;
}


/*======CONTACTO======*/
/*contacto*/

#formulario {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form {
    padding: 50px;
    font-family: "Nunito", sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.map-container{
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.map-container iframe{
    width: 100%;
    height: 350px;
    padding: 20px;
    border: 0;
}


/*subtítulo ubicación*/
#ubicacion {
    margin-top: 30vh;
}


/*======SUBMIT======*/
#consulta{
    margin: 30px;
    font-size: 20px;
}

/*======ADOPCIÓN======*/
/*img adopción*/

#img-adopcion {
    margin: 30px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.container-adopcion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 45px;
    font-size: 25px;

}


/*botones generales*/
.button {
    background-color: brown;
    color: blanchedalmond;
    font-family: "Changa One", sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;

}

/*animación botones*/
.button:hover {
    background-color: blanchedalmond;
    color: brown;
    transition: 0.2s;
}

/*======FOOTER======*/
footer .sub {
    margin-bottom: 0;
}

.apps img {
    width: 3vw;
    height: 6vh;
    margin: 10px;
}

#pie {
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 20vh;
}

#pie-submit {
    margin-top: 30vh;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
}


/*======MEDIA======*/

@media (max-width: 768px) {

    body {
        background-size: cover;
        background-position: center;
    }

    /*SECCIÓN HOME*/
    .presentacion {
        font-size: 6vh;
        margin-bottom: 10vh;
        top: 5vh;
    }

    .descripcion {
        max-width: 90vw;
        margin-left: 5vw;
        font-size: 18px;
    }

    .box-img {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px;
        margin-top: 10vh;
    }

    .sub {
        margin-top: 8vh;
        margin-bottom: 5vh;
    }

    .sub-beneficios {
        font-size: 4vh;
    }

    .lista li {
        font-size: 16px;
        padding: 15px;
    }

    .container-box {
        margin: 40px 10px;
        padding: 20px;
        border-radius: 30px;
    }

    #inicio .button {
        padding: 15px 40px;
        font-size: 18px;
    }

    .icono {
        width: 40px;
        height: 40px;
    }

    /*SECCIÓN QUIENES SOMOS*/

    .voluntarios-container{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    
    .flip-card{
        max-width: 90vw;
        height: 260px;
    }
    
    .flip-card-back{
        font-size: 14px;
        padding: 15px;
    }
    
    .flip-card-back h3{
        font-size: 18px;
    }
    

    #donacion {
        margin: 20px;
        font-size: 16px;
        text-align: center;
    }

    .parrafo {
        font-size: 18px;
        text-align: center;
    }

    /*SECCIÓN CONTACTO*/
    #formulario{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .form{
        padding: 25px;
        width: 90%;
        margin: 20px;
    }
    
    .form-container{
        gap: 20px;
    }
    
    #ubicacion{
        margin-top: 5vh;
    }

    .mapa h2{
        text-align: center;
    }

    .map-container iframe{
        height: 250px;
    }
    

    /*SECCIÓN ADOPCIÓN*/

    .container-adopcion {
        margin: 20px 15px;
        padding: 20px;
        font-size: 16px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    /*FOOTER*/
    .apps img {
        width: 30px;
        margin: 6px;
    }

    #pie {
        margin-top: 50px;
        padding: 15px;
    }

    #pie-submit {
        margin-top: 150px;
        padding: 15px;
    }
}